.index
  %p
    %strong Title:
    = @article.title
  %p
    %strong Text:
    = @article.text
  %h2 Comments
  -for comment in @article.comments
    -if comment.persisted?
      =render comment
  
  -if can? :create, Comment
    %h2 Add a comment:
    = render 'comments/form'
  -if can? :update, @article
    = link_to 'Edit Article', edit_article_path(@article)
  = link_to 'Back to Articles', articles_path